<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/simple-grid.css">
    <title>Document</title>
</head>
<container>
    <div class="row">
    <div class="col-12 center header">
        <div class="col-4"><h2>this</h2></div>
        <div class="col-4"><h2>{{test}}</h2></div>
        <div class="col-4"><h2>that</h2></div>   
    </div>
</div>
<div class="row">
<div class="col-12 mainSpacer"></div>
</div>
{{{body}}}
</container>
</html>

