<div class="row">
    <div class="col-12 center header">
        <div class="col-3"></div>
        <div class="col-6">
            <h1>Javascript Café</h1>
        </div>
        <div class="col-3"></div>
    </div>

    <div class="row">
        <div class="col-12 center header">
            <div class="col-3"></div>
            <div class="col-6">
                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis ducimus illum illo
                    laudantium eligendi deserunt quia atque id itaque praesentium, et unde placeat debitis
                    voluptatibus corporis eum alias fugiat, cum porro odit quo facilis fuga! Dignissimos distinctio
                    id molestias quia. Ad libero explicabo reprehenderit numquam voluptatum quibusdam veritatis aut
                    at?</h3>
            </div>
            <div class="col-3"></div>
        </div>