<div class="row">
    <div class="col-12 mainSpacer"></div>
</div>

<div class="row col-12 center">
    <div class="col-4"></div>
    <div class="col-4 createBlock">
        <div class="row">
            <div class="col-12">
                <h3>Create Account</h3>
            </div>
        </div>
        <form class="" action="/getCreateAccount" method="POST">
            <div class="row">
                <div class="col-12">
                    <input type="text" name="username" autocomplete="off" placeholder="Username">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <input type="text" name="password" autocomplete="off" placeholder="Password">
                </div>
            </div>
             <div class="row">
                <div class="col-12">
                    <input type="text" name="email" autocomplete="off" placeholder="Email">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-4"></div>
</div>