<div class="row">
    <div class="col-12 mainSpacer"></div>
</div>

<div class="row col-12 center">
    <div class="col-4"></div>
    <div class="col-4 signInBlock">
        <div class="row">
            <div class="col-12">
                <h2>Sign In</h2>
            </div>
        </div>
        <form class="" action="/login" method="POST">
            <div class="row">
                <div class="col-12">
                    <input type="text" name="anInput" autocomplete="off" placeholder="Username">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <input type="text" name="anotherInput" autocomplete="off" placeholder="Password">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button type="submit" id="login-button">Submit</button>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <a href="/displayCreateAccount">
                        <h5>Need an account?<br>Click here to get started</h5>
                    </a>
                </div>
            </div>
        </form>
    </div>
    <div class="col-4"></div>
</div>

<div class="row">
    <div class="col-5 center"></div>
    <div class="col-2 center resetBlock">
        <form action="/reset" method="POST" onsubmit="return confirm('Are you sure you want to reset?');">
            <button type=" submit">Reset</button>
        </form>
    </div>
    <div class="col-5 center"></div>
</div>