<div class="row">
    <div class="col-12 mainSpacer"></div>
</div>

<div class="row col-12 center">
    <div class="col-4"></div>
    <div class="col-4 signInBlock">
        <div class="row">
            <div class="col-12">
                <h4 class="error" style="color: red; font-weight: lighter">{{messages.info}}</h4>
                <h4 class="created" style="color: green; font-weight: lighter">{{messages.created}}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h2>Sign In</h2>
            </div>
        </div>
        <form class="" action="/login" method="POST">
            <div class="row">
                <div class="col-12">
                    <input type="text" name="email" autocomplete="off" placeholder="Email">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <input type="password" name="password" autocomplete="off" placeholder="Password">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button type="submit" id="login-button">Submit</button>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <a href="/displayCreateAccount">
                        <h5>Need an account?<br>Click here to get started</h5>
                    </a>
                </div>
            </div>
        </form>
    </div>
    <div class="col-4"></div>
</div>