<div class="row">
    <div class="col-12 center">
        <div class="col-3"></div>
        <div class="col-6 aboutBlock">
            <h3>Javascript Café Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus totam velit ab, quis quos mollitia perferendis maiores molestiae. Odit optio vitae delectus esse, autem quos nisi ad architecto possimus eum expedita enim, temporibus quaerat quae ab culpa officia minus iure tempore, atque iste. Quia in veniam, aperiam amet, veritatis expedita dignissimos tempora modi possimus ipsa sint enim! Eaque voluptates cumque dicta aperiam voluptate quo nihil recusandae enim rem illum, inventore dignissimos quibusdam labore id consequuntur sint, expedita excepturi! Ipsum aut beatae consequuntur soluta id sequi a doloremque est dolor, ipsa quod voluptatum unde tempore velit voluptas voluptatem quos aliquid impedit ratione. Aut quasi quia sequi veniam eius facere totam, hic ab quae architecto sit asperiores quo ratione, mollitia, corrupti possimus at quis commodi iusto magni similique in eum veritatis. Ea tenetur est dolore.</h3>
        </div>
        <div class="col-3"></div>
    </div>
</div>