<div class="row">
    <div class="col-12 center">
        <div class="col-3"></div>
        <div class="col-6 aboutBlock">
            <h3>Founded in 1997 Javascript Café is all about writing Javascript code with a cup of our finest African roast premium coffee.  At Javascript Café you will find clean code and an invigorating coffee aroma expertly prepared by our qualified in-house barista.  Whether you are working on a more user-friendly front-end experience or struggling with hairy database queries, Javascript Café will provide you with a lightning fast internet connection and the right facilities to get the job done professionally and on time.  </h3>
        </div>
        <div class="col-3"></div>
    </div>
</div>