<div class="row">
    <div class="col-12 generalSpacer"></div>
</div>



<div class="row col-12 center">
    <div class="col-1"></div>
    <div class="col-10 managerBlock">
        <div class="row">
            <div class="col-12">
                <h2>Manager</h2>

                <div class="col-12 center">
                    
                    {{#each shiftDays}}
                    <div class="weekdayBlockDivs" id="{{style}}">
                        <p style="text-align:center; margin-bottom: 5px;">{{day}}</p>
                    </div>
                    {{/each}}
                    {{!-- <div class="weekdayBlockDivs" id="#">
                        <p>Mon</p>
                    </div>

                    <div class="weekdayBlockDivs" id="#">
                        <p>Tue</p>
                    </div>

                    <div class="weekdayBlockDivs" id="#">
                        <p>Wed</p>
                    </div>

                    <div class="weekdayBlockDivs" id="#">
                        <p>Thu</p>
                    </div>

                    <div class="weekdayBlockDivs" id="#">
                        <p>Fri</p>
                    </div>

                    <div class="weekdayBlockDivs" id="#">
                        <p>Sat</p>
                    </div>

                    <div class="weekdayBlockDivs" id="#">
                        <p>Sun</p>
                    </div> --}}

                </div>
            </div>
        </div>
        {{!-- <form class="" action="/login" method="POST">
            <div class="row">
                <div class="col-12">
                    <input type="text" name="anInput" autocomplete="off" placeholder="Username">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <input type="text" name="anotherInput" autocomplete="off" placeholder="Password">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button type="submit" id="login-button">Submit</button>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <a href="/create">
                        <h5>Need an account?<br>Click here to get started</h5>
                    </a>
                </div>
            </div>
        </form> --}}
    </div>
    <div class="col-1"></div>
</div>