<div class="row">
    <div class="col-12 generalSpacer"></div>
</div>

<div class="row col-12 center">
    <div class="col-1"></div>
    <div class="col-10 waiterBlock">
        <div class="row">
            <div class="col-12">
                <h2>Waiter</h2><br>
                <div class="row">
                    <div class="col-12 center">
                        {{#accountInfo}}
                        <form action="/getWorkdays/{{id}}/{{email}}" id="getWorkdays" method="POST">
                            <span>
                                <input type="radio" name="workday" class="#" value="Monday">
                                <label>Monday</label>
                            </span>
                            <span>
                                <input type="radio" name="workday" class="#" value="Tuesday">
                                <label>Tuesday</label>
                            </span>
                            <span>
                                <input type="radio" name="workday" class="#" value="Wednesday">
                                <label>Wednesday</label>
                            </span>
                            <span>
                                <input type="radio" name="workday" class="#" value="Thursday">
                                <label>Thursday</label>
                            </span>
                            <span>
                                <input type="radio" name="workday" class="#" value="Friday">
                                <label>Friday</label>
                            </span>
                            <span>
                                <input type="radio" name="workday" class="#" value="Saturday">
                                <label>Saturday</label>
                            </span>
                            <span>
                                <input type="radio" name="workday" class="#" value="Sunday">
                                <label>Sunday</label>
                            </span>
                        </form>
                        {{/accountInfo}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        {{#accountInfo}}
                        <form method="POST">
                            <button type="submit" form="getWorkdays">Submit</button>
                            <button type="submit" formaction="/getWorkdays/reset/{{id}}">Reset</button>
                        </form>
                        {{/accountInfo}}
                    </div>
                </div>
            </div>
            <div class="col-4"></div>
        </div>